<!-- Listing the all users -->
<div class="col-md-12 col-lg-12">
    <nz-card>
        <div class="d-flex justify-content-between align-items-center">
            <h5>List of stadiums</h5>

        </div>
        <div class="m-t-30">
            <nz-table #productTable [nzData]="stadiumTable" [nzShowPagination]="false" class="no-border-last">
                <thead>
                    <tr>
                        <th>Stadium Name</th>
                        <th>Location</th>
                        <th>Created By</th>
                        <th>More</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of stadiumTable">
                        <td>{{ item?.stadiumName }}</td>
                        <td>{{ item?.location.place }}</td>
                        <td>{{ item?.createdBy }}</td>
                        <td>
                            <a nz-dropdown [nzDropdownMenu]="menu">
                                <i nz-icon nzType="more"></i>
                            </a>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item (click)="viewInfo()">View more info</li>
                                    <li nz-menu-item>Edit</li>
                                    <li nz-menu-item (click)="deleteStadium(item._id)">Delete</li>
                                </ul>
                            </nz-dropdown-menu>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-card>
</div>




<!-- Show the model -->
<nz-modal [(nzVisible)]="ModalVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">

    <div class="img">
        <h3 style="color: #fff;">Sliding Stadium Images</h3>
    </div>

    <nz-divider></nz-divider>

    <div>
        <h3>Stadium name</h3>
        <p>Stadium description lorem ipsume array of content description lorem ipsume array description lorem ipsume
            array</p>
    </div>

    <nz-divider></nz-divider>

    <div>
        <h4>Available fesilities</h4>
        <div>
            <label nz-checkbox [(ngModel)]="checked">Bathroom</label>
            <label nz-checkbox [(ngModel)]="checked">Football</label>
            <label nz-checkbox [(ngModel)]="checked">Fesility 1</label>
            <label nz-checkbox [(ngModel)]="checked">Fesility 2</label>
            <label nz-checkbox [(ngModel)]="checked">Fesility 3</label>
            <label nz-checkbox [(ngModel)]="checked">Fesility 4</label>
            <label nz-checkbox [(ngModel)]="checked">Fesility 6</label>
        </div>
    </div>

    <nz-divider></nz-divider>

    <div>
        <h4>Timing</h4>
        <p>Start Time: 6.00 PM</p>
        <p>End Time: 10.00 PM</p>
    </div>

</nz-modal>